*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;

   
    
}

body {
    background-color: rgb(252, 252, 255);
   font-family: "Lora" sans-serif;

   box-sizing: border-box;
    font-family: "Lora" serif;
    // background-color: $color-primary-light;

    h1,h2,h3,h4,h5 {
        font-family: "Oxygen" sans-serif ;
    
  }
  
  body a {
    color: rgb(58, 180, 180);
  }
  body a:hover{
   color: rgba(28, 175, 48, 0.925);
  }
  
  body a:visited{
    color:blue;
  }
  
  
  body {
    padding-top: 150px; /* Set padding to match header height */
    /*min-height: 2000px;
    position: relative;
    */
  }
  
  
  html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
  }
  
  


 
        
      
       
       
      

}